$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  max-width: 600px;
}

button {
  border: 1px solid #000;
}

input {
  border: 1px solid #000;
}

#message-banner {
  text-align: center;
  border: 1px solid black;
}

.box {
  border: 1px solid #000;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  height: 100px;
  padding: 10px;
  text-align: center;
}

.gameboard {
  display: none;
}

#clear-board-button {
  display: none;
}

#sign-out-button {
  display: none;
}

#sign-in-button {
  display: inline;
}

#sign-up-button {
  display: inline;
}

#change-password-button {
  display: none;
}

#create-game-button {
  display: none;
}

#show-games-button {
  display: none;
}

#message-banner {
  font-size: 36px;
}
// #show-one-game {
//   display: none;
// }
//
// #join-game {
//   display: none;
// }

@media (max-width: 400px) {
  .box {
    border: 1px solid #000;
    font-size: 24px;
    height: 50;
    padding: 10px;
    text-align: center;
  }
}
