$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

header {
  background-color: rgba(233, 233, 233, .5);
  height: 50px;
  width: 100%;
}

.container {
  background-image: url("http://wallpapercave.com/wp/JzfvVHJ.jpg");
  background-position: bottom;
  height: 100vh;
  padding: 0;
  width: 100%;
}

.button-group {
  padding: 10px;
}

.title {
  color: white;
  float: right;
  font-family: 'Permanent Marker', cursive;
  line-height: 5px;
  padding-right: 10px;
}

.logged-in {
  display: none;
}

.box {
  border: 0.5px solid white;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  height: 20vh;
  padding: 10px;
  text-align: center;
  width: 33%;
}

.box:hover {
  border: 4px solid white;
}

.gameboard {
  // display: none;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 400px;
}

.made-by {
  background-color: rgba(233, 233, 233, .5);
  bottom: 0;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  height: 50px;
  line-height: 45px;
  padding-right: 10px;
  position: fixed;
  text-align: right;
  width: 100%;
}

#message-banner {
  clear: both;
  color: white;
  font-family: 'Slabo 27px', serif;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
}

#stats-banner, #stats-banner-two, #stats-banner-three, #stats-banner-four, #stats-banner-five {
  clear: both;
  color: white;
  display: none;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  height: 0;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 600px;
  text-align: center;
}


.stats-board {
  clear: both;
  color: white;
  display: inline;
  font-family: 'Permanent Marker', cursive;
  font-size: 12px;
  height: 15px;
  margin: 0 auto;
  text-align: center;
  width: 150px;
}

@media (max-width: 440px) {
  h1 {
    font-size: 20px;
  }

  .box {
    border: 1px solid white;
    font-size: 36px;
    padding: 10px;
    text-align: center;
  }

  .gameboard {
    width: 250px;
  }

  .title {
    display: none;
  }

  #message-banner {
    font-size: 16px;
    min-width: 200px;
  }
}
